<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Github Repos</title>
    <link href="@Url.Content("~/content/site.css")" rel="stylesheet" />
    @RenderSection("css", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
